!!! 5
html(lang="en")
    head
        title Craig Hammell
        meta(name="description", content="Get square.")
        meta(name="keywords", content="craig hammell")
        link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Crushed")
        link(rel="stylesheet", type="text/css", href="/stylesheets/main.css")

    body
        div#content
            !{body}

    footer
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
        script(src="/javascript/main.js")
        include ../components/analytics.html