!!! 5
html(lang="en")
    head
        title Craig Hammell
        meta(name="description", content="Get square.")
        meta(name="keywords", content="craig hammell")
        link(rel="icon", href="/images/favicon2.png")
        link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic|Open+Sans:400italic,700italic,400,700")
        link(rel="stylesheet", type="text/css", href="/stylesheets/main.css")


    body
        div#content
            //
                div.plusone.
                    <g:plusone size="small" annotation="inline" width="120"></g:plusone>
            !{body}

        div#imagemagnify(style="display: none;")
            div.bar
                div.inner
                    p.title.
                        Untitled
                    p.description.
                        This is a drawing I made.  The dimensions are X by Y. (This feature in progress)
            div.image
                div.loader

    footer
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js")
        script(type="text/javascript", src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCfaETX_rz5bkYyqZ2V0gvVwGPEyasA_oU&sensor=false")
        script(src="/javascripts/main.js")
        include ../components/plusone.html
        include ../components/analytics.html