!!! 5
html(lang="en")
    head
        title notes.fm
        meta(name="description", content="Online notes for mobile and desktop")
        meta(name="keywords", content="notes, notepad, note pad, note taking, online notes, desktop notes, mobile notes, web notes, sync")
        meta(name="viewport", content="width=320, initial-scale=1, maximum-scale=1, user_scalable=0")
        link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Crushed")
        link(rel="stylesheet", type="text/css", href="/stylesheets/mobile.css")
    
    body
        div#content
            !{body}

    footer
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
        script(src="/javascript/mobile.js")
        include ../components/analytics.html