!!! 5
html(lang="en")
    head
        title notes.fm
        meta(name="description", content="Get square.")
        meta(name="keywords", content="craig hammell")
        meta(name="viewport", content="width=320, initial-scale=1, maximum-scale=1, user_scalable=0")
        link(rel="icon", href="/images/favicon2.png")
        link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Crushed")
        link(rel="stylesheet", type="text/css", href="/stylesheets/mobile.css")
    
    body
        div#content
            !{body}

    footer
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
        script(src="/javascripts/mobile.js")
        include ../components/analytics.html