!!! 5
html(lang="en")
    head
        title Sandbox
        link(rel="stylesheet", type="text/css", href="/stylesheets/sandbox/index.css")
    body
        div#content
            h1 Sandbox
            ul
                li: a(href='/sandbox/mobile-test') Mobile test
                li: a(href="#") Nothing