!!! 5
html(lang="en")
    head
        title Sandbox
        link(rel="stylesheet", type="text/css", href="/stylesheets/sandbox/mobile-test.css")
            
    body
        div.page
            p.title Mobile site
            iframe(id='app_frame', src='/?mobile=1')
            a.refresh(href="javascript:MobileTest.refresh('app')") Refresh

    footer
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
        script(src="/javascripts/sandbox/mobile-test.js")