<dom-module id="image-list">
  <template>
    <style>
      :host {
        display: none;
        margin: 0 10%;
      }

      :host.hidden {
        display: none;
      }

      ::content {
        display: flex;
        flex-direction: column;
      }

      ::content img {
        align-self: center;
        margin-bottom: 50px;
        max-width: 100%;
      }

      ::content img.hidden {
        display: none;
      }

      ::content :last-child {
        margin-bottom: 0;
      }
    </style>

    <content select="img"></content>
  </template>

  <script>
    class ImageList extends HTMLElement {
      beforeRegister() {
        this.is = 'image-list';
        this.visible = false;
      }

      created() {
        this.hide();

        const images = this.querySelectorAll('img');
        for (let i = 0; i < images.length; i++) {
          let image = images[i];
          image.classList.add('hidden');
        }
      }

      hide() {
        this.visible = false;
        this.classList.add('hidden');
      }

      show() {
        this.visible = true;
        this.classList.remove('hidden');

        const images = this.querySelectorAll('img');
        for (let i = 0; i < images.length; i++) {
          let image = images[i];
          image.onload = () => image.classList.remove('hidden');
          let src = image.getAttribute('data-src');
          image.setAttribute('src', src);
        }
      }
    }

    Polymer(ImageList);
  </script>
</dom-module>
