<dom-module id="image-list">
  <template>
    <content></content>
  </template>

  <script>
    class ImageListSet extends HTMLElement {
      beforeRegister() {
        this.is = 'image-list-set';
      }

      show(id) {
        const imageLists = this.querySelectorAll('image-list');
        for (let i = 0; i < imageLists.length; i++) {
          let imageList = imageLists[i];
          if (imageList.id === id && !imageList.visible) {
            imageList.show();
          }
          else {
            imageList.hide();
          }
        }
      }
    }

    Polymer(ImageListSet);
  </script>
</dom-module>
