p: a(href="/", class="gray") craighammell.com

h1 Drawings

p These are mostly standard ballpoint pen.

//Click to enlarge.

div.drawings

    div
        img(src="http://images.craighammell.com/drawings/001.jpg")
    div
        img(src="http://images.craighammell.com/drawings/002.jpg")
    div
        img(src="http://images.craighammell.com/drawings/003.jpg")
    div
        img(src="http://images.craighammell.com/drawings/003-b.jpg")
    div
        img(src="http://images.craighammell.com/drawings/004.jpg")
    div
        img(src="http://images.craighammell.com/drawings/005.jpg")
    div
        img(src="http://images.craighammell.com/drawings/006.jpg")
    div
        img(src="http://images.craighammell.com/drawings/007.jpg")
    div
        img(src="http://images.craighammell.com/drawings/008.jpg")
    div
        img(src="http://images.craighammell.com/drawings/009.jpg")
    div
        img(src="http://images.craighammell.com/drawings/010.jpg")
    div
        img(src="http://images.craighammell.com/drawings/011.jpg")
    div
        img(src="http://images.craighammell.com/drawings/012.jpg")
    div
        img(src="http://images.craighammell.com/drawings/013.jpg")

    p Craig Hammell