p: a(href="/", class="gray") craighammell.com

h1 Drawings

p These are mostly standard ballpoint pen.

//Click to enlarge.

div.drawings

    div
        img(src="http://images.craighammell.com/drawings/medium/001.png", magnify="http://images.craighammell.com/drawings/large/001.jpg")
    div
        img(src="http://images.craighammell.com/drawings/medium/002.png", magnify="http://images.craighammell.com/drawings/large/002.jpg")
    div
        img(src="http://images.craighammell.com/drawings/medium/003.png", magnify="http://images.craighammell.com/drawings/large/003.jpg")
    div
        img(src="http://images.craighammell.com/drawings/medium/003-b.png", magnify="http://images.craighammell.com/drawings/large/003-b.jpg")
    div
        img(src="http://images.craighammell.com/drawings/medium/004.png", magnify="http://images.craighammell.com/drawings/large/004.jpg")
    div
        img(src="http://images.craighammell.com/drawings/medium/005.png", magnify="http://images.craighammell.com/drawings/large/005.jpg")
    div
        img(src="http://images.craighammell.com/drawings/medium/006.png", magnify="http://images.craighammell.com/drawings/large/006.jpg")
    div
        img(src="http://images.craighammell.com/drawings/medium/007.png", magnify="http://images.craighammell.com/drawings/large/007.jpg")
    div
        img(src="http://images.craighammell.com/drawings/medium/008.png", magnify="http://images.craighammell.com/drawings/large/008.jpg")
    div
        img(src="http://images.craighammell.com/drawings/medium/009.png", magnify="http://images.craighammell.com/drawings/large/009.jpg")
    div
        img(src="http://images.craighammell.com/drawings/medium/010.png", magnify="http://images.craighammell.com/drawings/large/010.jpg")
    div
        img(src="http://images.craighammell.com/drawings/medium/011.png", magnify="http://images.craighammell.com/drawings/large/011.jpg")
    div
        img(src="http://images.craighammell.com/drawings/medium/012.png", magnify="http://images.craighammell.com/drawings/large/012.jpg")
    div
        img(src="http://images.craighammell.com/drawings/medium/013.png", magnify="http://images.craighammell.com/drawings/large/013.jpg")

    p Craig Hammell