h1 Craig Hammell

p I'm a web developer based in San Francisco.

//h3 Links

p: a(href="http://linkedin.com/in/hammell", target="_blank") LinkedIn
p: a(href="http://github.com/cilphex", target="_blank") GitHub

br

p: a(href="/drawings") Drawings

//
    h2 Work
    
    ul
        li: a(href="/qufoto") Qufoto
        li: a(href="/okcupid") Okcupid
    
    h2 Projects
    
    ul
        li: a(href="#") ShowTrends
        li: a(href="#") Timeline
    
    h2 Misc
    
    ul
        li: a(href="#") Drawings
        li: a(href="#") Instagram
        li: a(href="/where") Where I've been
        li: a(href="#") Listening to

h3 History

div.table
    p
        span: a(href="https://wwww.coinbase.com", target="_blank") Coinbase
        span.muted `13 - Current
    p
        span: a(href="http://www.generalassemb.ly", target="_blank") General Assembly
        span.muted `13
    p
        span
            a(href="http://www.notes.fm", target="_blank") Notes.fm
            |,
            a(href="http://github.com/cilphex", target="_blank") Misc projects
        span.muted `12 - 13
    p
        span: a(href="http://www.okcupid.com", target="_blank") Okcupid
        span.muted `08 - 12
    p
        span: a(href="http://24.media.tumblr.com/6d21dd003a4914115f8ece471aae370e/tumblr_mfcx5pRbxv1s156mzo1_1280.png") New York City
        span.muted `08 - 13
    p
        span: a(href="http://www.qufoto.com", target="_blank") Qufoto
        span.muted `07 - Current
    p
        span: a(href="http://www.rit.edu", target="_blank") RIT
        span.muted `03 - 08

h3 Contact

div.table
    p
        span.
            <script>document.writeln(['<a href="mailto:','crai','g@','coinba','se.co','m','">'].join(''))</script>
            craig@coinbase
            </a>
        span.muted Work
    p
        span.
            <script>document.writeln(['<a href="mailto:','c','ilphe','x@','gmai','l.','c','om','">'].join(''))</script>
            cilphex@gmail
            </a>
        span.muted Personal










