h1 Craig Hammell

p I'm a web developer based in New York City.

h2 Links

ul
    li: a(href="http://linkedin.com/in/hammell", target="_blank") LinkedIn
    li: a(href="http://github.com/cilphex", target="_blank") GitHub

h2 Misc

ul
    li: a(href="/drawings") Drawings

//
    h2 Work
    
    ul
        li: a(href="/qufoto") Qufoto
        li: a(href="/okcupid") Okcupid
    
    h2 Projects
    
    ul
        li: a(href="#") ShowTrends
        li: a(href="#") Timeline
    
    h2 Misc
    
    ul
        li: a(href="#") Drawings
        li: a(href="#") Instagram
        li: a(href="/where") Where I've been
        li: a(href="#") Listening to

h2 Contact

p cilphex at gmail dot com


| <iframe src="https://coinbase.com/inline_payments/c7c3a3393e7385f0796c3dc4be395591" style="width: 500px; height: 160px; border: none; box-shadow: 0 1px 3px rgba(0,0,0,0.25); overflow: hidden;" scrolling="no" allowtransparency="true" frameborder="0"></iframe>