h1 Where I've been

div#map_canvas

h3 Paris, France

p I mostly forget what happened here.

h3 London, England

p Same.

h3 Lima, Peru

p Hiked the Inca trail. This trip was awesome, and Peru is beautiful.

h3 Switzerland

p May 2012



script
    CH.setupMap();