h1 Drawings

p These are mostly standard ballpoint pen.

//Click to enlarge.

div.drawings

    div
        img(src="http://images.craighammell.com/drawings/medium/001.png")
    div
        img(src="http://images.craighammell.com/drawings/medium/002.png")
    div
        img(src="http://images.craighammell.com/drawings/medium/003.png")
    div
        img(src="http://images.craighammell.com/drawings/medium/003-b.png")
    div
        img(src="http://images.craighammell.com/drawings/medium/004.png")
    div
        img(src="http://images.craighammell.com/drawings/medium/005.png")
    div
        img(src="http://images.craighammell.com/drawings/medium/006.png")
    div
        img(src="http://images.craighammell.com/drawings/medium/007.png")
    div
        img(src="http://images.craighammell.com/drawings/medium/008.png")
    div
        img(src="http://images.craighammell.com/drawings/medium/009.png")
    div
        img(src="http://images.craighammell.com/drawings/medium/010.png")
    div
        img(src="http://images.craighammell.com/drawings/medium/011.png")
    div
        img(src="http://images.craighammell.com/drawings/medium/012.png")
    div
        img(src="http://images.craighammell.com/drawings/medium/013.png")

    p Craig Hammell