h1 Craig Hammell

p I'm a web developer based in New York City.

h2 Links

ul.links
    li: a(href="http://linkedin.com/in/hammell", target="_blank") LinkedIn
    li: a(href="http://github.com/cilphex", target="_blank") GitHub

h2 Misc

ul.links
    li: a(href="/drawings") Drawings

//
    h2 Work
    
    ul
        li: a(href="/qufoto") Qufoto
        li: a(href="/okcupid") Okcupid
    
    h2 Projects
    
    ul
        li: a(href="#") ShowTrends
        li: a(href="#") Timeline
    
    h2 Misc
    
    ul
        li: a(href="#") Drawings
        li: a(href="#") Instagram
        li: a(href="/where") Where I've been
        li: a(href="#") Listening to

h2 Contact

p cilphex at gmail dot com