html, body
    margin 0
    padding 0

body
    font 15px Helvetica, Arial, sans-serif
    color #555

a
    text-decoration none
    color #338EBD
    &:hover
        color #25749E

div#content
    margin 20px auto
    width 600px

    h1
        margin 0
        font-weight normal

    ul
        margin 0
        padding 0
        list-style none
        border-top 1px solid #555
        li
            display block
            margin 0 0 1px
            a
                display block
                padding 0 12px
                font-size 18px
                line-height 40px
                color #888
                background #f8f8f8
                &:hover
                    background #f4f4f4










