// functions

box-shadow()
    -webkit-box-shadow arguments
    -moz-box-shadow arguments
    box-shadow arguments

// Styles

html, body
    margin 0
    padding 0

body
    font-family "Helvetica Neue", "Helvetica", Arial
    text-align center
    background #aaa

div.page
    position relative
    display inline-block
    margin 40px
    text-align left

    p.title
        margin 0 0 5px
        font-size 24px
        text-shadow 0 1px 0 rgba(0,0,0,0.25)
        color #fff

    iframe
        display block
        margin 0 0 5px
        width 320px
        height 460px
        border 1px solid #000
        box-shadow 0 2px 5px rgba(0,0,0,0.25)

    a.refresh
        float right
        font-size 11px
        line-height 14px
        text-decoration none
        color #fff












